   <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="/images/logo.png" alt="Logo del Torneo" class="mb-3" height="50">
                    <p class="mb-2">Torneo Deportivos 2025 - Todos los derechos reservados. Autor: Santiago Zalazar</p>
                    <div class="social-icons">
                        <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>