 <header class="bg-success py-3">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <img src="/images/logo_torneo/logo.png" alt="Logo" height="150">
                </a>
                <!-- Burger Menu (solo en móvil) -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Menú de navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="#">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">Torneo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin-torneo">Organización</a></li>
                        <li class="nav-item"><a class="nav-link" href="/reglamento">Reglamento</a></li>
                        <a href="/login" class="btn btn-light text-success fw-bold">Login</a>
                    </ul>
                  
                </div>
            </nav>
        </div>
    </header>